<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="STUDCONNECTION" connectionString="Data Source=WIN-89AJFLDN8EJ;Initial Catalog =Laba_OOP;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>